<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meteor Data</title>
</head>
<body>
    <h1>Meteor Data</h1>
    <ul>
        {% for meteor in meteors %}
            <li>
                <strong>Name:</strong> {{ meteor.name }}<br>
                <strong>ID:</strong> {{ meteor.id }}<br>
                <strong>dangerous:</strong> {{ meteor.is_potentially_hazardous_asteroid }}<br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
